.updateUserContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;

  .loginRight {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .loginBox {
      height: 100%;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .coverPictureContainer {
        height: 320px;
        position: relative;
        display: flex;
        justify-content: center;

        .updateCoverPicture {
          display: flex;
          justify-content: center;
          flex-direction: column;
          cursor: pointer;
          padding: 10px;
        }

        .coverPictureUpdate {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 100%;

          .updatePicture {
            display: flex;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;
            padding: 10px;
          }
        }

        .profileCoverImg {
          width: 100%;
          height: 250px;
          object-fit: cover;
        }
      }

      .updateImageContainer {
        display: flex;
        justify-content: center;

        .profileImageContainer {
          width: 70px;
          height: 70px;

          .profileImage {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
        .updatePicture {
          display: flex;
          justify-content: center;
          flex-direction: column;
          cursor: pointer;
          padding: 10px;
        }
      }

      .shareImgContainer {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;

        .shareImg {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .shareCancelImage {
          position: relative;
          top: -130px;
          left: -40px;
          color: #fff;
          cursor: pointer;
        }
      }

      .loginInput {
        height: 50px;
        border-radius: 10px;
        border: 1px solid gray;
        font-style: 18px;
        padding-left: 10px;
        &:focus {
          outline: none;
        }
      }
      .loginRegisterButton {
        height: 50px;
        border-radius: 10px;
        border: none;
        background-color: rgb(37, 107, 10);
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}
